<html xmlns:th="http://www.thymeleaf.org"></html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="Stylesheet" href="entrance.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    </head>
<body class="popupbody">
    <div class="tt">Thvilum Teknik</div>
    <hr/>
    <div class="content">
        <div class="col-md-12">
            <table class="customerform table table-hover" id="customerTable">
                <thead>
                    <tr>
                    <th>HT-nummer</th>
                    <th>Navn</th>
                    <th>Address</th>
                    <th>Address 2</th>
                    <th>Postnummer og By</th>
                    <th>Kommune</th>
                    <th>Kontaktperson</th>
                    <th>CVR</th>
                    <th>Actions</th>
                    <th><a th:href="@{/addCustomerForm}" class="btn btn-secondary">Tilføj Kunde</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer: ${customers}">
                    <td th:text="${customer.htnr}"></td>
                    <td th:text="${customer.print_title}" ></td>
                    <td th:text="${customer.adresse_tegningshoved}"></td>
                    <td th:text="${customer.adresse2_tegningshoved}"></td>
                    <td th:text="${customer.postnrby_tegningshoved}"></td>
                    <td th:text="${customer.kommunenavn}"></td>
                    <td>
                        <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="ddContacts" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                          Kontaktperson
                          <span class="caret"></span>
                        </button>
                        <ul th:each="contact: ${contacts}" class="dropdown-menu" aria-labelledby="ddContacts">
                          <li><a href="#" th:text="${contact.k}">Kontakt navn</a></li>
                          <li><a href="#" th:text="${contact.tlf_tegningshoved}">Kontakt telefon</a></li>
                          <li><a href="#" th:text="${contact.webkontaktmail}">Kontakt email</a></li>
                          <li role="separator" class="divider"></li>
                        </ul>
                      </div>
                    </td>
                    <td th:text="${customer.cvrnr}"></td>
                    <td><a th:href="@{/showKundepage(customerId=${customer.id})}" class="btn btn-primary">Se kundeinfo</a></td>
                    <td><a th:href="@{/deletecustomer(customerId=${customer.id})}" class="btn btn-warning">Slet</a></td>
                    </tr>
                </tbody>
            </table> 
            
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/bs4/jq-3.7.0/dt-1.13.8/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#customerTable").DataTable({
                    'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }]
            });
        })
    </script>
</body>
</html>